@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* { /* "*" indica que vamos aplicar para todos os elementos da nossa página/site vão usar o box-sizing */
    box-sizing: border-box;
}

/*Resetando as configurações do navegador*/
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
}

button {
    padding: 10px 15px;/*top/bottom left/right*/
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #762A2E;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: calc(100vh - 150px);
    background: no-repeat center/cover  url('assets/header-image.jpg');
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

header nav p {
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    /*flex-direction: row; Deixando em linha */
}

header nav ul li {
    margin: 0 15px; /*top/bottom left/right*/
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 4rem;
}

.pacotes {
    background: #e1e8f7;
    /*height: 500px;*/
    padding: 15px;
}

.pacotes .pacotes-cards {
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;/*Conforme a tela vai diminuindo ela vai quebrar para a linha de baixo*/
    justify-content: center;
}

.pacotes .pacotes-title {
    width: 100%; /*Para o h1 ocupar toda a largura da página*/
    text-align: center;
    margin: 25px 0;
}

.pacotes .card {
    width: 250px; /*Largura*/
    height: 350px; /*Altura*/
    background: white;
    border-radius: 24px 0px;
    margin: 25px 25px;/*Centralizando o card*/
    position: relative; 
}

.pacotes .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
    object-fit: cover;
}

.pacotes .card-content {
    padding: 0 15px;
}

.pacotes .card-content ul {
    display: flex; /*Deixar um abaixo do outro*/
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.pacotes .card-content ul li {
    font-size: 0.6rem;/*Tamanho da fonte*/
    display: flex;
    align-items: center;/*Alinhamento vertical*/
    margin: 3px 0;
    color: grey;
    font-weight: bold;
}

.pacotes .card-content li svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.pacotes .card-content h1 {
    font-size: 1rem;
}

.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 15px;
    background: #F19B39;
    border-radius:8px 0 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 160px;
    background: #1D61DD;
    border-radius:0 8px 8px 0;
    padding: 5px 10px;
}

.pacotes .card .card-tag p {
    margin: 0;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
}

/* Responsividade */

/* Landscape phone to portrait tablet/ 
@media (max-width: 767px) { ... }*

/* Landscape phones and down */
@media (max-width: 480px) { 
    body {
        margin-bottom: 55px;
    }

    header nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;

        z-index: 99; /*Quanto maior esse conteudo, significa que o conteudo e mais relevante*/

        background: #1D61DD;
        color: white;
        font-weight: bold;
        height: 55px;

        display: flex;
        justify-content: space-between;/*Centralizando o conteudo na horizontal*/
        align-items: center;/*Centralizando o conteudo na vertical*/
    }

    header nav p {
        width: 100%;
        text-align: center;
    }
 }

/* Landscape phone to portrait tablet 
@media (max-width: 767px) { ... }

Portrait tablet to landscape and desktop 
@media (min-width: 768px) and (max-width: 979px) { ... }

 Large desktop 
@media (min-width: 1200px) { ... } */