@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* { /* "*" indica que vamos aplicar para todos os elementos da nossa página/site vão usar o box-sizing */
    box-sizing: border-box;
}

/*Resetando as configurações do navegador*/
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
}

button {
    padding: 10px 15px;/*top/bottom left/right*/
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #762A2E;
    color: white;
}

header {
    height: calc(100vh - 150px);
    background: no-repeat center/cover  url('assets/header-image.jpg');
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

header nav p {
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    /*flex-direction: row; Deixando em linha */
}

header nav ul li {
    margin: 0 15px; /*top/bottom left/right*/
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content h1 {
    margin-bottom:10px ;
    font-size: 4rem;
}

/* Responsividade */

/* Landscape phone to portrait tablet*
@media (max-width: 767px) { ... }/ 

/* Landscape phones and down */
@media (max-width: 480px) { 
    body {
        height: calc(100vh - 55px);
    }

    header nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;

        background: #1D61DD;
        color: white;
        font-weight: bold;
        height: 55px;

        display: flex;
        justify-content: space-between;/*Centralizando o conteudo na horizontal*/
        align-items: center;/*Centralizando o conteudo na vertical*/
    }

    header nav p {
        width: 100%;
        text-align: center;
    }
 }

/* Landscape phone to portrait tablet 
@media (max-width: 767px) { ... }

Portrait tablet to landscape and desktop 
@media (min-width: 768px) and (max-width: 979px) { ... }

 Large desktop 
@media (min-width: 1200px) { ... } */